body{
  text-align: center;
  background-color: #333030;
  color: #e3dede;

}
::placeholder{
  color: #d9e1e8;
  font-weight: bold;
}
#hourlyWage{
background-color : #8b8687;
color: #e3dede;
  font-weight: bold;
}
button{
  margin-top: 15px; 
  background-color : #8b8687;
  color: #e3dede;
}
